<h1 class="text center">JS Puzzle 🧩 - Easy</h1>
<% @new_game = [3, 7, 6, 5, 1, 2, 4, 8] %>
<% @new_game << "" %>
<% @size = Math.sqrt(@new_game.count).to_i %>
<table>
  <% @size.times do %>
    <tr>
      <% @size.times do %>
        <% if @new_game[0] == ""  %>
          <td class="empty"><%= @new_game[0] %></td>
        <% else %>
          <td><%= @new_game[0] %></td>
        <% end %>
        <% @new_game.shift %>
      <% end %>
    </tr>
  <% end %>
</table>
