<h1 class="text center my-5">JS Puzzle 🧩 - Hard</h1>
<% @new_game = [19, 9, 15, 10, 13, 8, 21, 5, 6, 3, 22, 18, 1, 4, 24, 16, 12, 17, 2, 7, 20, 14, 23, 11] %>
<% @new_game << "" %>
<% @size = Math.sqrt(@new_game.count).to_i %>
<table>
  <% @size.times do %>
    <tr>
      <% @size.times do %>
        <% if @new_game[0] == ""  %>
          <td class="empty"><%= @new_game[0] %></td>
        <% else %>
          <td><%= @new_game[0] %></td>
        <% end %>
        <% @new_game.shift %>
      <% end %>
    </tr>
  <% end %>
</table>
