<h1>Choose Your Difficulty</h1>
<%= link_to "Easy", "/easy", class: "btn btn-outline-success" %>
<%= link_to "Medium", "/medium", class: "btn btn-outline-warning" %>
<%= link_to "Hard", "/hard", class: "btn btn-outline-danger" %>
