<h1 class="text center my-5">JS Puzzle 🧩 - Medium</h1>
<% @new_game = [7, 13, 3, 1, 10, 2, 15, 5, 14, 9, 6, 8, 12, 11, 4] %>
<% @new_game << "" %>
<% @size = Math.sqrt(@new_game.count).to_i %>
<table>
  <% @size.times do %>
    <tr>
      <% @size.times do %>
        <% if @new_game[0] == ""  %>
          <td class="empty"><%= @new_game[0] %></td>
        <% else %>
          <td><%= @new_game[0] %></td>
        <% end %>
        <% @new_game.shift %>
      <% end %>
    </tr>
  <% end %>
</table>
